/** {*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*position: relative;*/
    /*outline: none;*/
/*}*/

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #434d5d;
}

#alarm-clock-wrap {
    width: 300px;
    height: 300px;
    background-color: #efefef;
    position: relative;
}

/*#alarm-clock{*/
    /*width: 300px;*/
    /*height: 300px;*/
/*}*/

#alarm-clock {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0,125,255,1);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
    /*-webkit-animation: open 2s ease-in-out, blink 2.5s ease infinite 2s;*/
    /*animation: open 2s ease-in-out, blink 2.5s ease infinite 2s;*/
    /*cursor: pointer;*/
}

#alarm-clock #hour-hand{
    background-color: rgba(0,125,255,1);
    width:13px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

}

#alarm-clock #minute-hand{
    background-color: rgba(0,125,255,1);
    width:16px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-11px) translateY(4px) rotate(120deg);

}

#alarm-clock #left-leg{
    background-color: rgba(0,125,255,1);
    width:13px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 4%;
    transform: rotate(120deg);

}

#alarm-clock #right-leg{
    background-color: rgba(0,125,255,1);
    width:13px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 70%;
    transform: rotate(60deg);

}

#alarm-clock:before {
    content: "";
    position: absolute;
    top: -18%;
    left: -23%;
    width: 45%;
    height: 20%;
    background-color: rgba(0,125,255,1);
    border-radius: 100% 100% 0 0;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-animation: shake2 0.15s linear infinite;
    animation: shake2 0.15s linear infinite;
}
#alarm-clock:after {
    content: "";
    position: absolute;
    top: -18%;
    right: -23%;
    width: 45%;
    height: 20%;
    background-color: rgba(0,125,255,1);
    border-radius: 100% 100% 0 0;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-animation: shake 0.15s linear infinite;
    animation: shake 0.15s linear infinite;
}

@-webkit-keyframes open {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
        transform: translate3d(-50%, -50%, 0) scale(0);
    }
    30% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(3);
        transform: translate3d(-50%, -50%, 0) scale(3);
        -webkit-box-shadow: 0 0 0px 100px #fff;
        box-shadow: 0 0 0px 100px #fff;
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}

@keyframes open {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
        transform: translate3d(-50%, -50%, 0) scale(0);
    }
    30% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(3);
        transform: translate3d(-50%, -50%, 0) scale(3);
        -webkit-box-shadow: 0 0 0px 100px #fff;
        box-shadow: 0 0 0px 100px #fff;
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}
/*@-webkit-keyframes blink {*/
    /*0% {*/
        /*-webkit-box-shadow: 0 0 0 0 #fff;*/
        /*box-shadow: 0 0 0 0 #fff;*/
    /*}*/
    /*40% {*/
        /*-webkit-box-shadow: 0 0 0px 200px #1D1F20;*/
        /*box-shadow: 0 0 0px 200px #1D1F20;*/
        /*opacity: 0.8;*/
    /*}*/
    /*80% {*/
        /*-webkit-box-shadow: 0 0 0 0 #1D1F20;*/
        /*box-shadow: 0 0 0 0 #1D1F20;*/
    /*}*/
    /*100% {*/
        /*-webkit-box-shadow: 0 0 0 0 #fff;*/
        /*box-shadow: 0 0 0 0 #fff;*/
    /*}*/
/*}*/
/*@keyframes blink {*/
    /*0% {*/
        /*-webkit-box-shadow: 0 0 0 0 #fff;*/
        /*box-shadow: 0 0 0 0 #fff;*/
    /*}*/
    /*40% {*/
        /*-webkit-box-shadow: 0 0 0px 200px #1D1F20;*/
        /*box-shadow: 0 0 0px 200px #1D1F20;*/
        /*opacity: 0.8;*/
    /*}*/
    /*80% {*/
        /*-webkit-box-shadow: 0 0 0 0 #1D1F20;*/
        /*box-shadow: 0 0 0 0 #1D1F20;*/
    /*}*/
    /*100% {*/
        /*-webkit-box-shadow: 0 0 0 0 #fff;*/
        /*box-shadow: 0 0 0 0 #fff;*/
    /*}*/
/*}*/
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    50% {
        -webkit-transform: rotate(48deg);
        transform: rotate(48deg);
    }
    100% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}
@keyframes shake {
    0% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    50% {
        -webkit-transform: rotate(48deg);
        transform: rotate(48deg);
    }
    100% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}
@-webkit-keyframes shake2 {
    0% {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
    50% {
        -webkit-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }
    100% {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
}
@keyframes shake2 {
    0% {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
    50% {
        -webkit-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }
    100% {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
}



/* card image interaction */
#card-wrap{
    width: 500px;
    height: 500px;
    background-color: #efefef;
    position: relative;
}

#card-wrap #card{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px #1d1f2005;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#card-wrap #card:focus{
    /*width: 100%;*/
    /*height: 100%;*/
    animation: zoom1 0.3s ease-in forwards;
}
#card-wrap #card:focus img{
    /*animation: zoom1 1s linear;*/
    animation: zoom-img 0.3s ease-in forwards;
}

#card-wrap #card:focus .card-desc{
    color: #fff;
    position: absolute;
    animation: move-desc 0.5s 0.3s ease-out forwards;
}

#card-wrap .card-desc{
    padding: 10px;
    position: relative;
    color: #000;
    width: calc(100% - 20px);

}
#card-wrap p{
    /*color: #000;*/
}
#card-wrap .card-desc p.title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

#card-wrap #card:hover{
    opacity: 0.5;
}

#card-wrap #card .main-img{
    width: 100%;
    height: 140px;
}
@-webkit-keyframes zoom1 {
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes zoom1 {
    100% {
        width: 100%;
        height: 100%;
    }
}

@-webkit-keyframes zoom-img {
    100% {
        height: 200px;
    }
}
@keyframes zoom-img {
    100% {
        height: 100%;
    }
}

@-webkit-keyframes move-desc {
    100% {
        height: 200px;
    }
}
@keyframes move-desc {
    0%{
        top: 100%;
    }
    100% {
        top: 50%;

        /*position: absolute;*/

    }
}


#parallax-transition-wrap{
    width: 100%;
    height: 100%;
    background: #efefef;
    position: relative;
    overflow: hidden;

}

#parallax-transition-wrap .gnb{
    width: 100%;
    height: 70px;
    background : url('../img/GNB.png') center no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

#parallax-transition-wrap .menu-area{
    position : absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 1000;
}
#parallax-transition-wrap .menu-area button{
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 0;
    background-color: transparent;
    position: relative;
    z-index: 1000;
    margin-top: 30px;
    color: #434d5d;
}
.active-border{
    position: absolute;
    display: none;
    width: 200px;
    height: 50px;
    border: 1px solid #434d5d;
    border-radius: 20px;
    color: #434d5d;
    z-index: 999;
}
#parallax-transition-wrap .menu-area button:focus{
    outline: 0;
}
#parallax-transition-wrap .menu-area button span{
    line-height: 46px;
    /*font-weight: bold;*/
    font-size: 20px;
}
#parallax-transition-wrap .menu-area button + button{
    /*margin-top: 30px;*/
}
#parallax-transition-wrap .menu-area button.active{
    /*border: 2px solid #DD2266;*/
    /*border-radius: 10px;*/
    /*color: #DD2266;*/
    font-weight: bold;
}
#parallax-transition-wrap .menu-area button:hover{
    /*color: #DD2266;*/
    font-weight: bold;
    cursor: pointer;
}

#parallax-transition-wrap .menu-area .welcome-text{
    font-size:36px;

}

#parallax-transition-wrap .menu-area .welcome-text .name{
    font-weight: bold;
    /*text-decoration: underline;*/
    position: relative;
}
#parallax-transition-wrap .menu-area .welcome-text .name:after{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -3px;
    height: 2px;
    background-color: #434d5d;
}


.menu-content-1, .menu-content-2, .menu-content-3{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    top: 100%;
}

.menu-content-1{
    background-color:#efeffe;
    /*animation: bottom-to-top 2s linear;*/
}
.menu-content-2{
    /*background-color:blue;*/
    /*animation: bottom-to-top 2s linear;*/
    background: url('../img/BG_sceond.png') left top no-repeat;
    background-size: 100% 100%;
}
.menu-content-2 .consulting-card img{
    position: absolute;
    top: 25%;
    right: 15%;
}
.menu-content-3{
    background-color:#efefef;
    /*animation: bottom-to-top 2s linear;*/
}

@keyframes bottom-to-top {

    0%{
        top: 100%;

    }
    100%{

        top: 0%;

    }



}


/* 이미지 3장 돌리기 인터랙션 */
#rotate-image-area{
    display: inline-block;
    position: absolute;
    right: 25%;
    top: 50%;
    width: 350px;
    height: 500px;
    transform: translateY(-50%);
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #efefef;
}

#slides {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: transform 0.8s, opacity 0.8s;
    transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 0.7, 0.2, 1);
    transition-timing-function: cubic-bezier(0.2, 0.7, 0.2, 1);
    will-change: transform, opacity;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
.slide img {
    width: 350px;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
}

.slide-left {
    -webkit-transform: translateX(-220px) perspective(0px) rotateY(45deg) scale(0.8);
    transform: translateX(-220px) perspective(0px) rotateY(45deg) scale(0.8);
    opacity: 0.8;
    z-index: 3;
}

.slide-center {
    opacity: 1;
    z-index: 5;
}

.slide-right {
    -webkit-transform: translateX(220px) perspective(0px) rotateY(-45deg) scale(0.8);
    transform: translateX(220px) perspective(0px) rotateY(-45deg) scale(0.8);
    opacity: 0.8;
    z-index: 4;
}

.sliding-right .slide-left {
    z-index: 4;
}
.sliding-right .slide-right {
    z-index: 3;
}

.btn {
    font-size: 50px;
    color: #666666;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    z-index: 6;
    cursor: pointer;
    color: #ffffff;
}

#btn-left {
    left: -40px;
}

#btn-right {
    right: -40px;
}


/* menu-3 : cards */
.cards-area{
    position: absolute;
    width: 930px;
    height: 300px;
    top: 50%;
    right: 5%;
    transform: translateY(calc(-50% - 33px));
}

.cards-area .card{
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    padding: 20px 20px 52px 20px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    left: 120%;
    transform: rotateZ(15deg);

}

.cards-area .card:nth-child(1){
    animation: card-appear 0.8s ease-in-out 1s forwards;
}
.cards-area .card:nth-child(2){
    animation: card-appear 0.8s ease-in-out 1.1s forwards;
}
.cards-area .card:nth-child(3){
    animation: card-appear 0.8s ease-in-out 1.2s forwards;
}

.cards-area .card:hover{
    opacity: 0.5;
}

.card + .card{
    margin-left: 20px;
}

.cards-area .plus-card{
    background-color: rgba(0,0,0,0.05);
    box-shadow: none;
    color: rgba(0,0,0,0.4);
}
.cards-area .plus-card .contents-wrapper{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cards-area .plus-card .ico-plus{
    font-size: 72px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
}

.cards-area .card .title{
    display: block;
    width: 100%;
    color: #434d5d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cards-area .card .item-list{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.cards-area .card .item-list .item{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.cards-area .card .price{
    font-size: 24px;
    color: #DD2266;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding: 0px 20px;
}
.cards-area .card .price:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}

.ico-plus{
    color: #434d5d;
    font-weight: bold;
}

@keyframes card-appear {
    0%{
        left: 120%;
        transform: rotateZ(15deg);
    }
    100%{
        left: 0%;
        transform: rotateZ(0deg);
    }
}