
/* reset. TODO 공통으로 이동 */
html{ width: 100%; height: 100%;}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;

}

#contents{
    background-color: #f8f8f8;
    height: 100%;
    min-width: 360px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 200px;
    overflow: hidden;
}

#sub-title{
    font-size: 24px;
    color: #1d1d1d;
    margin-bottom: 15px;
}

#content{
    background-color: #fff;
    height: calc(100% - 32px * 2 - 30px * 2);
    margin: 32px;
    padding: 30px 0px;
}
#content #s-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgba(29, 29, 29, 0.1);
    font-size: 30px;
}
#content #s-content > span{
    display: inline-block;
}

/* display 테이블 관련 속성으로 변경 */
.step-nav__table-cell{
    display: table-cell;
}

.table-row{
    display: table-row;
}

/* 가장 바깥 wrapper */
.step-wrap{
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* Step, Progress-bar 를 위한 2중 wrapper */
.step-nav-wrapper{
    width: calc(100% - 60px * 2);
    background-color: transparent;
    display: inline-table;
    padding: 0px 60px;
}

/* mobile 해상도에서 Title 표시하는 부분 */
.step-wrap__small-size-title{
    display: none;
    margin-top: 15px;
    font-size: 18px;
    color: rgba(0,0,0,0.85);
}

/* Step, Progress-bar 를 위한 wrapper */
.step-nav-wrapper .step-nav{
    margin-top: 10px;
    display: table-row;
}

/* progress-bar의 배경과 실제 gauge 를 포함하는 wrapper */
.step-nav__progress-wrapper{
    padding: 0px 5px;
    vertical-align: middle;
}

/* progress-bar 배경 */
.step-nav-wrapper .step-nav .step-nav__progress{
    vertical-align: middle;
    border-radius: 4px;
    background-color: #cccccc;
    opacity: 0.5;
    height: 2px;
}

/* progress-bar gauge */
.step-nav-wrapper .step-nav .step-nav__progress .step-nav__progress-bar{
    min-width: 0;
    height: 2px;
}

/* step */
.step-nav__step{
    position: relative;
    display: table-cell;
    width: 30px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.step-nav__step .step-nav__step--completing,
.step-nav__step .step-nav__step--completed{
    cursor: pointer;
}

/* step contents */
.step-nav__step__circle{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    border: 1px solid #1fcd84;
    box-sizing: border-box;
    line-height: 34px;
}

/* step contents - number */
.step-nav__step__circle span.step-nav__step__number{
    display: table-cell;
    text-align: center;
    width: 35px;
    height: 35px;
    float: left;
    color: #1fcd84;
    font-size: 20px;
    margin-top: -1px;
    margin-lefT: -1px;
}

/* step contents - checked image */
.step-nav__step__circle span.step-nav__step__check-mark-wrap{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
}

/* working status */
.step-nav__step__circle.step-nav__step--completing{
    background-color: #1fcd84;
    border: none;
}
.step-nav__step__circle.step-nav__step--completing .step-nav__step__number{
    margin-top: 0px;
    margin-lefT: 0px;
}

.step-nav__step__circle.step-nav__step--completing .step-nav__step__number{
    color: #fff;
    font-weight: bold;
}

/* completed status */
.step-nav__step__circle.step-nav__step--completed{
    border: none;
}

/* show checked images when progressing work is done */
.step-nav__step__circle.step-nav__step--completed span.step-nav__step__check-mark-wrap{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color:#adb5bd;
}

/* title of each step */
.step-nav__step__title{
    position: absolute;
    top: 42px;
    left: 3px;
    width: 150px;
    transform: translateX(-60px);
    opacity: 0.5;
    font-size: 14px;
}

.step-nav__step__title span{
    color: rgba(0,0,0,0.85);
}

.step-nav__step__circle.step-nav__step--completing + .step-nav__step__title span{
    /*font-weight: bold;*/
}
.step-nav__step__circle.step-nav__step--completed + .step-nav__step__title span{
    color: rgba(0,0,0,0.5);
}

/* step title */
.step-nav__step__title span{
    display: table-cell;
    text-align: center;
    width: 150px;
}

/* contents area */
.step-controller{
    position: absolute;
    width: calc(100% - 32px * 2);
    bottom: 32px;
    background-color: #fff;
}

/* button area */
.step-controller .step-controller__wrap{
    font-size: 0;
    vertical-align: middle;
    position: relative;
    text-align: right;
    background-color: #fff;
}

/* back, next button */
.step-controller__wrap button{
    padding: 6px 30px;
    display: inline-block;
    width: 107px;
    height: 35px;
    cursor: pointer;
    clear: both;
}
.step-controller__wrap button:hover{
    opacity: 0.8;
}
.step-controller__wrap button:focus{
}
button.step-controller__pre{
    float: left;
    background-color: #fff;
    color: rgba(29,29,29, 0.85);
    border: 1px solid #ccc;
}
button.step-controller__back{
    background-color: #fff;
    border: 1px solid #ccc;
    color: rgba(29,29,29, 0.85);
    margin-right: 12px;
}
button.step-controller__next{
    background-color: #1fcd84;
    color: #fff;
    font-weight: bold;
    border: none;
}

/* checked image */
.step-nav__step__check-mark {
    display: block;
    width: 14px;
    height: 8px;
    position: relative;
}

.step-nav__step__check-mark:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 2px solid #fafafa;
    border-top: 2px solid #fafafa;
    content: '';
    display: block;
    height: 13px;
    left: 9px;
    position: absolute;
    top: 17px;
    width: 7px;
}

.step-controller__button--hidden{
    display: none !important;
}

/* media query */
@media only screen and (max-width: 768px) {
    /* 모바일 */
    #content .step-wrap{
        padding: 0px 12px;
    }

    .step-nav__step__title{
        display: none;
    }
    .step-wrap .step-wrap__small-size-title{
        display: block;
        text-align: left;
    }
    .step-wrap .step-nav-wrapper{
        margin-bottom: 0px !important;
        padding-left: 28px;
        padding-right: 28px;
        padding-bottom: 20px;
        width: calc(100% - 28px * 2);
        border-bottom: 1px solid #ebebeb;
    }
    button.step-controller__pre{
        display: none;
    }
    button.step-controller__back{
        width: 50%;
        height: 45px;
        margin: 0;

    }
    button.step-controller__next{
        width: 50%;
        height: 45px;
    }
    body #contents #content{
        height: calc(100% - 20px * 2 - 20px * 2);
        margin: 20px 10px;
        padding: 20px 0px;
    }
    #contents #sub-title{
        margin-bottom: 13px;
        display: none;
    }
    #content .step-controller{
        width: calc(100% - 10px * 2);
        bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* 태블릿 */
    div#contents div#sub-title{
        display: none;
    }
    body #contents #content{
        height: calc(100% - 20px * 2 - 30px * 2);
        margin: 20px;
        padding: 30px 0;
    }
    button.step-controller__pre{
        display: none;
    }
    #content .step-controller{
        width: calc(100% - 20px * 2);
        bottom: 20px;
    }
}

