// color bombo
// #FFDADA, #E1BDFF, #F3F1FC, #D6FFF9
// #005B9A, #808080, #FFA500
$header-height: 60px;

$primary-color-1: #005B9A;
$primary-color-2: #808080;
$primary-color-3: #FFA500;


 html{
 	height: 100%;
 }
 html,body{
 	margin: 0;
 	padding: 0px;
 	height: 100%;
 }


header{
 	width: 100%;
 	height: $header-height;
 	background-color: $primary-color-1;
 	margin-bottom: 10px;

	 & .home-title{
		 display: inline-block;
		 line-height: $header-height;
		 font-size: 20px;
		 font-weight: bold;
		 color: #FFA500;
		 padding: 0px 10px;
		 text-decoration: none;
		 &:hover{
			 background-color: #808080;
			 cursor: pointer;
		 }
	 }
 }

// body {background-color: #f1f2f6;}
// .item {
//   width:50%;
//   min-height: 1px;
//     padding-right: 15px;
//     padding-left: 15px;
// }
// @media (min-width: 768px) {
//   .item {
//     width : 33.33333333%;
//   }
// }
// @media (min-width: 992px) {
//   .item {
//     width : 25%;
//   }
// }
// @media (min-width: 1200px) {
//   .item {
//     width : 16.66666667%;
//   }
// }

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  	background: $primary-color-3;
  	max-width: 1600px;
	margin:0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid{
	.grid-item {
		width: 160px;
		height: 120px;
		float: left;
		background: #fff;
		border: 1px solid #333;
		border-color: hsla(0, 0%, 0%, 0.5);
		margin-bottom: 3px;
	  //border-radius: 5px;
		position:relative;
		&:hover:after{
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			background-color: #808080;
			opacity: 0.6;
		}

	}

	.grid-item--width2 { width: 320px; }
	.grid-item--width3 { width: 480px; }
	.grid-item--width4 { width: 640px; }

	.grid-item--height2 { height: 200px; }
	.grid-item--height3 { height: 260px; }
	.grid-item--height4 { height: 360px; }
}




// responsive
/* ---- grid ---- */

.grid2 {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid2:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid2{
	.grid-sizer,
	.grid-item {
	  width: 20%;
	}

	.grid-item {
	  height: 120px;
	  float: left;
	  background: #D26;
	  border: 2px solid #333;
	  border-color: hsla(0, 0%, 0%, 0.5);
	  border-radius: 5px;
	}

	.grid-item--width2 { width:  40%; }
	.grid-item--width3 { width:  60%; }

	.grid-item--height2 { height: 200px; }
	.grid-item--height3 { height: 260px; }
	.grid-item--height4 { height: 360px; }
}


