<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>삼성생명 신태블릿 인터랙션 개선</title>
    <!--<link rel="stylesheet" href="../css/common/component-common.css">-->
    <link rel="stylesheet" href="../css/samsung-life-new-tablet.css">
</head>
<body>

<div id="alarm-clock-wrap">
    <div id="alarm-clock">
        <span id="hour-hand"></span>
        <span id="minute-hand"></span>
        <span id="left-leg"></span>
        <span id="right-leg"></span>
    </div>
</div>

<hr/>

<div id="card-wrap">
    <a href="#" id="card">
        <img class="main-img" src="../img/desert.jpg" alt="">
        <div class="card-desc">
            <p class="title">Title</p>
            <p>blah blah blah blah blah blah blah blah</p>
        </div>
    </a>
</div>

<hr/>

<div id="parallax-transition-wrap">

    <div class="menu-area">
        <section class="welcome-text">
            <span class="name">이준석</span> 고객님을<br/>
            위해 준비한
        </section>
        <button class="menu-btn active"><span>추천자료 보러가기</span></button>
        <button class="menu-btn"><span>컨설팅 하러가기</span></button>
        <button class="menu-btn"><span>상품설계 하러가기</span></button>
        <span class="active-border"></span>
    </div>




    <div class="menu-content-1" data-idx="0">
        <span>추천자료 Contents</span>
        <div id="rotate-image-area">
            <div id="wrap">
                <a class="btn" id="btn-left"><span>&lt;</span></a>
                <div id="slides">
                    <div class="slide slide-left"><img src="../img/Card1.png" alt=""/></div>
                    <div class="slide slide-center"><img src="../img/Card2.png" alt=""/></div>
                    <div class="slide slide-right"><img src="../img/Card3.png" alt=""/></div>
                </div><a class="btn" id="btn-right"><span>&gt;</span></a>
            </div>
        </div>

    </div>
    <div class="menu-content-2" data-idx="1">
        <div class="consulting-card">
            <img src="../img/ConsultingCard.png" alt="">
        </div>
    </div>
    <div class="menu-content-3" data-idx="2">
        <span>상품설계 Contents</span>
    </div>



</div>

<script type="text/javascript" src="../js/common/jquery-3.2.1.min.js"></script>
<script src="../js/samsung-life-new-tablet.js"></script>
</body>
</html>