<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>삼성생명 신태블릿 인터랙션 개선</title>
    <!--<link rel="stylesheet" href="../css/common/component-common.css">-->
    <link rel="stylesheet" href="../css/samsung-life-new-tablet-2.css">
</head>
<body>

<div id="parallax-transition-wrap">

    <div class="gnb">
        <ul class="main">
            <li>일정</li>
            <li>고객등록</li>
            <li>이벤트</li>
        </ul>
        <ul class="sub">
            <li class="ico-home"><img src='../img/home_white.png' alt=""></li>
            <li>고객</li>
            <li>활동</li>
            <li>컨설팅</li>
            <li>설계/청약</li>
            <li>계약관리</li>
        </ul>
        <div class="hamburger-btn">
            <div class="bar-wrapper">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>
        </div>
    </div>

    <section id="contents">

        <div class="menu-area">
            <section class="welcome-text">
                <span class="name"></span> 고객님을<br/>
                위해 준비한
            </section>
            <button class="menu-btn active"><span>추천자료 보러가기</span></button>
            <button class="menu-btn"><span>컨설팅 하러가기</span></button>
            <button class="menu-btn"><span>상품설계 하러가기</span></button>
            <span class="active-border"></span>
        </div>

        <div class="menu-content-0" data-idx="0">
            <div class="srch-area">
                <input class="srch-input-text" type="text">
                <button class="srch-btn">검색하기</button>
            </div>
            <div class="mask"></div>
        </div>
        <div class="menu-content-1" data-idx="1">
            <div id="rotate-image-area">
                <div id="wrap">
                    <a class="btn" id="btn-left"><span>&lt;</span></a>
                    <div id="slides">
                        <div class="slide slide-left"><img src="../img/Card1.png" alt=""/></div>
                        <div class="slide slide-center"><img src="../img/Card2.png" alt=""/></div>
                        <div class="slide slide-right"><img src="../img/Card3.png" alt=""/></div>
                    </div><a class="btn" id="btn-right"><span>&gt;</span></a>
                </div>
            </div>

        </div>
        <div class="menu-content-2" data-idx="2">
            <div class="consulting-card">
                <img src="../img/ConsultingCard.png" alt="">
            </div>
        </div>
        <div class="menu-content-3" data-idx="3">
            <div class="content-area">
                <div class="cards-area">
                    <div class="card">
                <span class="title">
                    통합 유니버셜 종신보험 3.0 (무배당, 보증비용 부과형)
                </span>
                        <div class="item-list">
                            <div class="item"><span class="ico-plus">+</span>교통재해사망특약 D(무배당)</div>
                            <div class="item"><span class="ico-plus">+</span>암사망특약D(무배당)</div>
                            <div class="item"><span class="ico-plus">+</span>질병고동장애(1,2급)생활자금</div>
                        </div>
                        <div class="price">
                            204,300원
                        </div>
                    </div>
                    <div class="card">
                <span class="title">
                    통합 유니버셜 종신보험 3.0 (무배당, 보증비용 부과형)
                </span>
                        <div class="item-list">
                            <div class="item"><span class="ico-plus">+</span>교통재해사망특약 D(무배당)</div>
                            <div class="item"><span class="ico-plus">+</span>암사망특약D(무배당)</div>
                            <div class="item"><span class="ico-plus">+</span>질병고동장애(1,2급)생활자금</div>
                        </div>
                        <div class="price">
                            204,300원
                        </div>
                    </div>
                    <div class="card plus-card">
                        <div class="contents-wrapper">
                            <span class="ico-plus">+</span>
                        </div>
                        <div class="hidden-contents">
                        <span class="title">
                            통합 유니버셜 종신보험 3.0 (무배당, 보증비용 부과형)
                        </span>
                            <div class="item-list">
                                <div class="item"><span class="ico-plus">+</span>교통재해사망특약 D(무배당)</div>
                                <div class="item"><span class="ico-plus">+</span>암사망특약D(무배당)</div>
                                <div class="item"><span class="ico-plus">+</span>질병고동장애(1,2급)생활자금</div>
                            </div>
                            <div class="price">
                                204,300원
                            </div>
                        </div>
                    </div>
                    <button class="btn-1">설계 비교하기</button>
                </div>

            </div>



        </div>

    </section>




</div>

<section id="hidden-contents">
    <div id="home-contents">
        <div class="img">
            <div class="recommend-mask">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
            </div>
            <div class="toggle-btn"></div>
            <div class="star"></div>
        </div>
        <div class="mask"></div>


    </div>
</section>





<script type="text/javascript" src="../js/common/jquery-3.2.1.min.js"></script>
<script src="../js/samsung-life-new-tablet-2.js"></script>
</body>
</html>