<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Step</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/common/component-common.css">
    <link rel="stylesheet" href="../css/step.css">
</head>
<body>
<div id="contents">
    <div id="content">

        <div class="step-wrap">
            <div class="step-nav-wrapper">
                <div class="step-nav">

                    <div class="step-nav__step" data-content="1">
                        <div class="step-nav__step__circle step-nav__step--completing">
                            <span class="step-nav__step__number">1</span>
                            <span class="step-nav__step__check-mark-wrap">
                                <div class="step-nav__step__check-mark"></div>
                            </span>
                        </div>
                        <div class="step-nav__step__title">
                            <span>Step 01 Title</span>
                        </div>
                    </div>

                    <div class="step-nav__table-cell step-nav__progress-wrapper">
                        <div class="step-nav__progress" data-content="2">
                            <div class="step-nav__progress-bar step-nav__progress-bar--success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="step-nav__step" data-content="2">
                        <div class="step-nav__step__circle">
                            <span class="step-nav__step__number">2</span>
                            <span class="step-nav__step__check-mark-wrap">
                        <div class="step-nav__step__check-mark"></div>
                    </span>
                        </div>
                        <div class="step-nav__step__title">
                            <span>Step 02 Title</span>
                        </div>
                    </div>

                    <div class="step-nav__table-cell step-nav__progress-wrapper">
                        <div class="step-nav__progress" data-content="3">
                            <div class="step-nav__progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="step-nav__step" data-content="3">
                        <div class="step-nav__step__circle">
                            <span class="step-nav__step__number">3</span>
                            <span class="step-nav__step__check-mark-wrap">
                        <div class="step-nav__step__check-mark"></div>
                    </span>
                        </div>
                        <div class="step-nav__step__title">
                            <span>Step 03 Title</span>
                        </div>
                    </div>

                    <div class="step-nav__table-cell step-nav__progress-wrapper">
                        <div class="step-nav__progress" data-content="4">
                            <div class="step-nav__progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="step-nav__step" data-content="4">
                        <div class="step-nav__step__circle">
                            <span class="step-nav__step__number">4</span>
                            <span class="step-nav__step__check-mark-wrap">
                        <div class="step-nav__step__check-mark"></div>
                    </span>
                        </div>
                        <div class="step-nav__step__title">
                            <span>Step 04 Title</span>
                        </div>
                    </div>

                    <div class="step-nav__table-cell step-nav__progress-wrapper">
                        <div class="step-nav__progress" data-content="5">
                            <div class="step-nav__progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="step-nav__step" data-content="5">
                        <div class="step-nav__step__circle">
                            <span class="step-nav__step__number">5</span>
                            <span class="step-nav__step__check-mark-wrap">
                        <div class="step-nav__step__check-mark"></div>
                    </span>
                        </div>
                        <div class="step-nav__step__title">
                            <span>Step 05 Title</span>
                        </div>
                    </div>

                </div>



            </div>
            <div class="step-wrap__small-size-title"></div>
        </div>

        <div id="s-content">
            <span id="s-content__current-step">Step01</span>
            <span>Content Area</span>
        </div>

        <div class="step-controller">
            <div class="step-controller__wrap">
                <button type="button" class="step-controller__pre step-controller__button--hidden" disabled>Previous</button>
                <button type="button" class="step-controller__back" disabled>Cancel</button>
                <button type="button" class="step-controller__next">Next</button>
            </div>
        </div>


    </div>

</div>


<script type="text/javascript" src="../js/common/jquery-3.2.1.min.js"></script>
<script src="../js/step.js"></script>
</body>
</html>