<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>삼성생명 신태블릿 인터랙션 개선</title>
    <!--<link rel="stylesheet" href="../css/common/component-common.css">-->
    <link rel="stylesheet" href="../css/parallax-scroll.css">
</head>
<body>

<div id="parallax-transition-wrap">

    <section id="contents">

        <div class="menu-area">
            <section class="welcome-text">
                <span class="name"></span> 고객님을<br/>
                위해 준비한
            </section>
            <button class="menu-btn active"><span>추천자료 보러가기</span></button>
            <button class="menu-btn"><span>컨설팅 하러가기</span></button>
            <button class="menu-btn"><span>상품설계 하러가기</span></button>
            <span class="active-border"></span>
        </div>

        <div class="menu-content-0" data-idx="0">
            <div class="srch-area">
                <input class="srch-input-text" type="text">
                <button class="srch-btn">검색하기</button>
            </div>
            <div class="mask"></div>
        </div>
        <div class="menu-content-1" data-idx="1">
        </div>
        <div class="menu-content-2" data-idx="2">
        </div>
        <div class="menu-content-3" data-idx="3">
        </div>

    </section>




</div>

<section id="hidden-contents">
    <div id="home-contents">
        <div class="img">
            <div class="recommend-mask">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
                <img src="../img/customercard.png" alt="">
            </div>
            <div class="toggle-btn"></div>
            <div class="star"></div>
        </div>
        <div class="mask"></div>


    </div>
</section>





<script type="text/javascript" src="../js/common/jquery-3.2.1.min.js"></script>
<script src="../js/parallax-scroll.js"></script>
</body>
</html>