<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Table with Page Navigation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/column-filtering-table.css">
    <link rel="stylesheet" href="../css/table-with-page-navigation.css">
</head>
<body>

<div class="content">
    <section class="cft-container">
        <table class="cft-table">
            <tr class="cft-table__header">
                <th class="cft-table__header__title-01">Name</th>
                <th class="cft-table__header__title-02">ID</th>
                <th class="cft-table__header__title-03">Gender</th>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Anne Ramirez</td>
                <td class="cft-table__header__cell-02">zoie.howe</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Dorothy Strickland</td>
                <td class="cft-table__header__cell-02">gleichner.cathryn</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Mattie Griffin</td>
                <td class="cft-table__header__cell-02">diego.bergstrom</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Steven Gonzales</td>
                <td class="cft-table__header__cell-02">misael_heathcote</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Martha Cohen</td>
                <td class="cft-table__header__cell-02">irving_dach</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Irene Johnston</td>
                <td class="cft-table__header__cell-02">linwood_gottlieb</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Virgie Gibbs</td>
                <td class="cft-table__header__cell-02">johnnie.toy</td>
                <td class="cft-table__header__cell-03">Male</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Lura Phillips</td>
                <td class="cft-table__header__cell-02">rutherford_greg</td>
                <td class="cft-table__header__cell-03">Female</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Emilie Briggs</td>
                <td class="cft-table__header__cell-02">durgan.ezra</td>
                <td class="cft-table__header__cell-03">Female</td>
            </tr>
            <tr class="cft-table__row">
                <td class="cft-table__header__cell-01">Martin Dean</td>
                <td class="cft-table__header__cell-02">konopelski_leonardo</td>
                <td class="cft-table__header__cell-03">Female</td>
            </tr>
        </table>
    </section>
    <div class="page-navigation">
        <a href="#" class="page-navigation__first"></a>
        <a href="#" class="page-navigation__pre"></a>
        <a href="#" class="page-navigation__number page-navigation__number--active">1</a>
        <a href="#" class="page-navigation__number">2</a>
        <a href="#" class="page-navigation__number">3</a>
        <a href="#" class="page-navigation__number">4</a>
        <a href="#" class="page-navigation__number">5</a>
        <a href="#" class="page-navigation__number">6</a>
        <a href="#" class="page-navigation__number">7</a>
        <a href="#" class="page-navigation__number">8</a>
        <a href="#" class="page-navigation__number">9</a>
        <a href="#" class="page-navigation__number">10</a>
        <a href="#" class="page-navigation__number page-navigation__number--hidden">11</a>
        <a href="#" class="page-navigation__next"></a>
        <a href="#" class="page-navigation__last"></a>
    </div>
</div>

</body>
<script type="text/javascript" src="../js/common/jquery-3.2.1.min.js"></script>
<script src="../js/table-with-page-navigation.js"></script>
<script type="text/javascript" src="../js/column-filtering-table.js"></script>
</html>